.container {
  display: flex;
  align-items: center;
  height: 50px;
  flex: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 80;
  margin-top: 0;
  background-color: #fff;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
}

.logo {
  height: 26px;
}

.title {
  margin-left: 10px;
  font-size: 20px;
  font-weight: normal;
}